/* From Uiverse.io by Nawsome */ 
.svg-frame {
  position: absolute;  /* 使用绝对定位 */
  top: 50%;            /* 垂直居中 */
  left: 50%;           /* 水平居中 */
  transform: translate(-50%, -50%);  /* 调整自身的位置，使其真正居中 */
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-frame p {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
  /* 定义加载动画 */
  .loading-text {
    display: inline-block;
}

.loading-text::after {
    content: '...';
    animation: dots 1.5s infinite steps(1);
}

/* 定义 keyframes 动画 */
@keyframes dots {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
    100% {
        content: '.';
    }
}
.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}